- client_id: {{ .Client.client_id | squote }}
  client_name: {{ .Client.client_name | default .Client.client_id | squote }}
  {{- with (include "authelia.config.oidc.client.client_secret.render" .Client) }}
  client_secret: {{ . }}
  {{- end }}
  {{- if .Client.sector_identifier_uri }}
  sector_identifier_uri: {{ .Client.sector_identifier_uri | default "" | squote }}
  {{- end }}
  public: {{ .Client.public | default false }}
  {{- if .Client.redirect_uris }}
  redirect_uris:
  {{- range $redirect_uri := .Client.redirect_uris }}
    - {{ $redirect_uri | squote }}
  {{- end }}
  {{- end }}
  {{- if and .Client.request_uris (semverCompare ">=4.38.7" (include "authelia.version" $)) }}
  request_uris:
  {{- range $request_uri := .Client.request_uris }}
  - {{ $request_uri | squote }}
  {{- end }}
  {{- end }}
  {{- if .Client.audience }}
  audience:
  {{- range $audience := .Client.audience }}
    - {{ $audience | squote }}
  {{- end }}
  {{- end }}
  scopes:
  {{- range $scope := (.Client.scopes | default (list "openid" "profile" "email" "groups")) }}
    - {{ $scope | squote }}
  {{- end }}
  grant_types:
  {{- range $grant_type := (.Client.grant_types | default (list "authorization_code")) }}
    - {{ $grant_type | squote }}
  {{- end }}
  response_types:
  {{- range $response_type := (.Client.response_types | default (list "code")) }}
    - {{ $response_type | squote }}
  {{- end }}
  {{- if .Client.response_modes }}
  response_modes:
  {{- range $response_mode := .Client.response_modes }}
    - {{ $response_mode | squote }}
  {{- end }}
  {{- end }}
  authorization_policy: {{ .Client.authorization_policy | default "two_factor" | squote }}
  {{- if .Client.lifespan }}
  lifespan: {{ .Client.lifespan | squote }}
  {{- end }}
  {{- if and .Client.claims_policy (semverCompare ">=4.39.0" (include "authelia.version" $)) }}
  claims_policy: {{ .Client.claims_policy | squote }}
  {{- end }}
  {{- if .Client.requested_audience_mode }}
  requested_audience_mode: {{ .Client.requested_audience_mode | squote }}
  {{- end }}
  consent_mode: {{ .Client.consent_mode | default "auto" | squote }}
  {{- if .Client.pre_configured_consent_duration }}
  pre_configured_consent_duration: {{ .Client.pre_configured_consent_duration | squote }}
  {{- end }}
  require_pushed_authorization_requests: {{ .Client.require_pushed_authorization_requests | default false  }}
  {{- if .Client.require_pkce }}
  {{- else }}
  {{- end }}
  require_pkce: {{ .Client.require_pkce | default false  }}
  pkce_challenge_method: {{ (include "authelia.config.oidc.client.pkce_challenge_method" .Client) | squote }}
  authorization_signed_response_alg: {{ .Client.authorization_signed_response_alg | default "RS256" | squote }}
  authorization_signed_response_key_id: {{ .Client.authorization_signed_response_key_id | default "" | squote }}
  {{- if semverCompare ">=4.39.0" (include "authelia.version" $) }}
  authorization_encrypted_response_key_id: {{ .Client.authorization_encrypted_response_key_id | default "" | squote }}
  authorization_encrypted_response_alg: {{ .Client.authorization_encrypted_response_alg | default "" | squote }}
  authorization_encrypted_response_enc: {{ .Client.authorization_encrypted_response_enc | default "" | squote }}
  {{- end }}
  id_token_signed_response_alg: {{ .Client.id_token_signed_response_alg | default "RS256" | squote }}
  id_token_signed_response_key_id: {{ .Client.id_token_signed_response_key_id | default "" | squote }}
  {{- if semverCompare ">=4.39.0" (include "authelia.version" $) }}
  id_token_encrypted_response_key_id: {{ .Client.id_token_encrypted_response_key_id | default "" | squote }}
  id_token_encrypted_response_alg: {{ .Client.id_token_encrypted_response_alg | default "" | squote }}
  id_token_encrypted_response_enc: {{ .Client.id_token_encrypted_response_enc | default "" | squote }}
  {{- end }}
  access_token_signed_response_alg: {{ .Client.access_token_signed_response_alg | default "none" | squote }}
  access_token_signed_response_key_id: {{ .Client.access_token_signed_response_key_id | default "" | squote }}
  {{- if semverCompare ">=4.39.0" (include "authelia.version" $) }}
  access_token_encrypted_response_key_id: {{ .Client.access_token_encrypted_response_key_id | default "" | squote }}
  access_token_encrypted_response_alg: {{ .Client.access_token_encrypted_response_alg | default "" | squote }}
  access_token_encrypted_response_enc: {{ .Client.access_token_encrypted_response_enc | default "" | squote }}
  {{- end }}
  userinfo_signed_response_alg: {{ .Client.userinfo_signed_response_alg | default "none" | squote }}
  userinfo_signed_response_key_id: {{ .Client.userinfo_signed_response_key_id | default "" | squote }}
  {{- if semverCompare ">=4.39.0" (include "authelia.version" $) }}
  userinfo_encrypted_response_key_id: {{ .Client.userinfo_encrypted_response_key_id | default "" | squote }}
  userinfo_encrypted_response_alg: {{ .Client.userinfo_encrypted_response_alg | default "" | squote }}
  userinfo_encrypted_response_enc: {{ .Client.userinfo_encrypted_response_enc | default "" | squote }}
  {{- end }}
  introspection_signed_response_alg: {{ .Client.introspection_signed_response_alg | default "none" | squote }}
  introspection_signed_response_key_id: {{ .Client.introspection_signed_response_key_id | default "" | squote }}
  {{- if semverCompare ">=4.39.0" (include "authelia.version" $) }}
  introspection_encrypted_response_key_id: {{ .Client.introspection_encrypted_response_key_id | default "" | squote }}
  introspection_encrypted_response_alg: {{ .Client.introspection_encrypted_response_alg | default "" | squote }}
  introspection_encrypted_response_enc: {{ .Client.introspection_encrypted_response_enc | default "" | squote }}
  introspection_endpoint_auth_method: {{ (include "authelia.config.oidc.client.endpoint_auth_method" (dict "Public" .Client.public "Method" .Client.introspection_endpoint_auth_method)) | squote }}
  introspection_endpoint_auth_signing_alg: {{ .Client.introspection_endpoint_auth_signing_alg | default "RS256" | squote }}
  {{- end }}
  request_object_signing_alg: {{ .Client.request_object_signing_alg | default "" | squote }}
  {{- if semverCompare ">=4.39.0" (include "authelia.version" $) }}
  request_object_encryption_alg: {{ .Client.request_object_encryption_alg | default "none" | squote }}
  request_object_encryption_enc: {{ .Client.request_object_encryption_enc | default "" | squote }}
  {{- end }}
  token_endpoint_auth_method: {{ (include "authelia.config.oidc.client.endpoint_auth_method" (dict "Public" .Client.public "Method" .Client.token_endpoint_auth_method)) | squote }}
  token_endpoint_auth_signing_alg: {{ .Client.token_endpoint_auth_signing_alg | default "" | squote }}
  {{- if semverCompare ">=4.39.0" (include "authelia.version" $) }}
  revocation_endpoint_auth_method: {{ (include "authelia.config.oidc.client.endpoint_auth_method" (dict "Public" .Client.public "Method" .Client.revocation_endpoint_auth_method)) | squote }}
  revocation_endpoint_auth_signing_alg: {{ .Client.revocation_endpoint_auth_signing_alg | default "RS256" | squote }}
  pushed_authorization_request_endpoint_auth_method: {{ (include "authelia.config.oidc.client.endpoint_auth_method" (dict "Public" .Client.public "Method" .Client.pushed_authorization_request_endpoint_auth_method)) | squote }}
  pushed_authorization_request_endpoint_auth_signing_alg: {{ .Client.pushed_authorization_request_endpoint_auth_signing_alg | default "RS256" | squote }}
  {{- end }}
  {{- if .Client.jwks_uri }}
  jwks_uri: {{ .Client.jwks_uri | squote }}
  {{- end }}
  {{- if .Client.jwks }}
  jwks:
  {{- range $key := .Client.jwks }}
  {{- tpl ($.Files.Get "files/configuration.oidc.jwk.yaml") (merge (dict "Key" $key "Indent" 8) $) | trim | nindent 4 }}
  {{- end }}
  {{- end }}