access_control:
  default_policy: {{ include "authelia.accessControl.defaultPolicy" . | trim | squote }}
  {{- if .Values.configMap.access_control.networks }}
  networks:
  {{- range $network := .Values.configMap.access_control.networks }}
  - name: {{ $network.name }}
    networks:
  {{- if kindIs "string" $network.neworks }}
    - {{ $network.networks | squote }}
  {{- else }}
  {{- range $value := $network.networks }}
    - {{ $value | squote }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if .Values.configMap.access_control.rules }}
  rules:
  {{- range .Values.configMap.access_control.rules }}
    - policy: {{ .policy | default "deny" }}
      {{- if .domain }}
      domain:
        {{- if kindIs "string" .domain }}
        - {{ .domain | squote }}
        {{- else }}
          {{- include "authelia.squote.list" .domain | indent 8 }}
        {{- end }}
      {{- end }}
      {{- if .domain_regex }}
      domain_regex:
        {{- if kindIs "string" .domain_regex }}
        - {{ .domain_regex | squote }}
        {{- else }}
          {{- include "authelia.squote.list" .domain_regex | indent 8 }}
        {{- end }}
      {{- end }}
      {{- if .networks }}
      networks:
        {{- if kindIs "string" .networks }}
        - {{ .networks }}
        {{- else }}
        {{- range .networks }}
        - {{ . }}
        {{- end }}
        {{- end }}
      {{- end }}
      {{- if .subject }}
      subject:
      {{- if kindIs "string" .subject }}
        - {{ .subject | squote }}
      {{- else }}
        {{- range .subject }}
        - [{{ include "authelia.squote.join" . }}]
        {{- end }}
      {{- end }}
      {{- end }}
      {{- if .methods }}
      methods:
      {{- if kindIs "string" .methods }}
        - {{ .methods | squote }}
      {{- else }}
        {{- range .methods }}
        - {{ . | squote }}
        {{- end }}
      {{- end }}
      {{- end }}
      {{- if .resources }}
      resources:
        {{- if kindIs "string" .resources }}
        - {{ .resources | squote }}
        {{- else }}
        {{- range .resources }}
        - {{ . | squote }}
        {{- end }}
        {{- end }}
      {{- end }}
  {{- end }}
  {{- end }}
