apiVersion: v2
name: authelia
version: 0.9.15
kubeVersion: ">= 1.13.0-0"
description: Authelia is a Single Sign-On Multi-Factor portal for web apps
type: application
keywords:
  - SSO
  - Authentication
  - Security
  - Two-Factor
  - YubiKey
  - Webauthn
  - Duo
  - TOTP
  - Time-based One Time Password
  - Push Notifications
  - LDAP
home: https://www.authelia.com
sources:
  - https://github.com/authelia/chartrepo/tree/master/charts/authelia
  - https://www.github.com/authelia/authelia
dependencies:
  - name: postgresql
    version: ~15.5.11
    repository: https://charts.bitnami.com/bitnami
    condition: configMap.storage.postgres.deploy
  - name: mariadb
    version: ~18.2.4
    repository: https://charts.bitnami.com/bitnami
    condition: configMap.storage.mysql.deploy
  - name: redis
    version: ~19.6.0
    repository: https://charts.bitnami.com/bitnami
    condition: configMap.session.redis.deploy
maintainers:
  - name: james-d-elliott
    email: james-d-elliott@users.noreply.github.com
    url: https://github.com/james-d-elliott
icon: https://avatars2.githubusercontent.com/u/59122411?s=200&v=4
appVersion: 4.38.16
deprecated: false
annotations: {}
