{{- if (include "authelia.enabled.ingress.ingress" .) }}
{{- $ver := (include "capabilities.apiVersion.ingress" $) }}
---
apiVersion: {{ $ver }}
kind: Ingress
metadata:
  name: {{ include "authelia.name" . }}
  labels: {{ include "authelia.labels" (merge (dict "Labels" .Values.ingress.labels) .) | nindent 4 }}
  {{- with $annotations := (include "authelia.ingress.annotations" .) }}
  annotations: {{ $annotations | nindent 4 }}
  {{- end }}
spec:
  {{- if eq $ver "networking.k8s.io/v1" }}
  {{- with $className := .Values.ingress.className }}
  ingressClassName: {{ $className }}
  {{- end }}
  {{- end }}
  rules:
  {{- range $cookie := .Values.configMap.session.cookies }}
    - host: {{ (include "authelia.ingress.host" (merge (dict "SubDomain" $cookie.subdomain "Domain" $cookie.domain) $)) | squote }}
      http:
        paths:
          - path: {{ (include "authelia.path" $) }}
            {{- if eq $ver "networking.k8s.io/v1" }}
            pathType: Prefix
            {{- end }}
            backend:
              {{- if eq $ver "networking.k8s.io/v1" }}
              service:
                name: {{ include "authelia.name" $ }}
                port:
                  number: {{ include "authelia.service.port" $ }}
              {{- else }}
              serviceName: {{ include "authelia.name" $ }}
              servicePort: {{ include "authelia.service.port" $ }}
              {{- end }}
  {{- end }}
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts:
        {{- range $cookie := .Values.configMap.session.cookies }}
        - {{ (include "authelia.ingress.host" (merge (dict "SubDomain" $cookie.subdomain "Domain" $cookie.domain) $)) | squote }}
        {{- end }}
      secretName: {{ default "authelia-tls" .Values.ingress.tls.secret }}
  {{- end }}
{{- end -}}
