{{ if (include "authelia.enabled.secret" .) -}}
{{- $secret := (lookup "v1" "Secret" .Release.Namespace (include "authelia.name" .)) | default dict -}}
{{- $secretData := $secret.data | default dict -}}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "authelia.name" . }}
  labels: {{ include "authelia.labels" (merge (dict "Labels" .Values.secret.labels) .) | nindent 4 }}
  {{- with $annotations := include "authelia.annotations" (merge (dict "Annotations" .Values.secret.annotations) .) }}
  annotations: {{ $annotations | nindent 4 }}
  {{- end }}
data:
    {{- .Values.secret.jwt.key | nindent 2 }}: {{ include "authelia.secret.standard" (merge (dict "LookupValue" (get $secretData .Values.secret.jwt.key) "SecretValue" .Values.secret.jwt.value) .) }}
    {{- .Values.secret.session.key | nindent 2 }}: {{ include "authelia.secret.standard" (merge (dict "LookupValue" (get $secretData .Values.secret.session.key) "SecretValue" .Values.secret.session.value) .) }}
    {{- if or .Values.configMap.storage.postgres.enabled .Values.configMap.storage.mysql.enabled }}
    {{- .Values.secret.storage.key | nindent 2 }}: {{ include "authelia.secret.standard" (merge (dict "LookupValue" (get $secretData .Values.secret.storage.key) "SecretValue" .Values.secret.storage.value) .) }}
    {{- end }}
    {{- .Values.secret.storageEncryptionKey.key | nindent 2 }}: {{ include "authelia.secret.standard" (merge (dict "LookupValue" (get $secretData .Values.secret.storageEncryptionKey.key) "SecretValue" .Values.secret.storageEncryptionKey.value) .) }}
    {{- if .Values.configMap.authentication_backend.ldap.enabled }}
    {{- .Values.secret.ldap.key | nindent 2 }}: {{ include "authelia.secret.standard" (merge (dict "LookupValue" (get $secretData .Values.secret.ldap.key) "SecretValue" .Values.secret.ldap.value) .) }}
    {{- end }}
    {{- if and .Values.configMap.session.redis.enabled .Values.configMap.session.redis.enabledSecret }}
    {{- .Values.secret.redis.key | nindent 2 }}: {{ include "authelia.secret.standard" (merge (dict "LookupValue" (get $secretData .Values.secret.redis.key) "SecretValue" .Values.secret.redis.value) .) }}
    {{- if and .Values.configMap.session.redis.high_availability.enabled .Values.configMap.session.redis.high_availability.enabledSecret }}
    {{- .Values.secret.redisSentinel.key | nindent 2 }}: {{ include "authelia.secret.standard" (merge (dict "LookupValue" (get $secretData .Values.secret.redisSentinel.key) "SecretValue" .Values.secret.redisSentinel.value) .) }}
    {{- end }}
    {{- end }}
    {{- if and .Values.configMap.notifier.smtp.enabled .Values.configMap.notifier.smtp.enabledSecret }}
    {{- .Values.secret.smtp.key | nindent 2 }}: {{ include "authelia.secret.standard" (merge (dict "LookupValue" (get $secretData .Values.secret.smtp.key) "SecretValue" .Values.secret.smtp.value) .) }}
    {{- end }}
    {{- if or (include "authelia.configured.duo" .) (include "authelia.configured.duoSecret" .) }}
    {{- .Values.secret.duo.key | nindent 2 }}: {{ .Values.secret.duo.value | b64enc }}
    {{- end }}
    {{- if .Values.configMap.identity_providers.oidc.enabled }}
    {{- .Values.secret.oidcHMACSecret.key | nindent 2}}: {{ .Values.secret.oidcHMACSecret.value | default (get $secretData .Values.secret.oidcHMACSecret.key | b64dec) | default (randAlphaNum 32) | b64enc }}
    {{- .Values.secret.oidcPrivateKey.key | nindent 2}}: {{ .Values.secret.oidcPrivateKey.value | default (get $secretData .Values.secret.oidcPrivateKey.key | b64dec) | default (genPrivateKey "rsa") | b64enc }}
  {{- end }}
{{- end -}}
