{{ if (include "authelia.generate.certificatesSecret" .) -}}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "authelia.names.certificatesSecret" . }}
  labels: {{ include "authelia.labels" (merge (dict "Labels" .Values.certificates.labels) .) | nindent 4 }}
  {{- with $annotations := include "authelia.annotations" (merge (dict "Annotations" .Values.certificates.annotations) .) }}
  annotations: {{ $annotations | nindent 4 }}
  {{- end }}
data:
  {{- range $key, $value := .Values.certificates.values }}
    {{- if $value.name }}
    {{- if $value.secretValue }}
    {{ $value.name | indent 2 }}: {{ $value.secretValue }}
    {{- else }}
    {{ $value.name | indent 2 }}: {{ $value.value | b64enc }}
    {{- end }}
    {{- end }}
    {{- end }}
  {{- end -}}