---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "authelia.name" . }}
  labels: {{ include "authelia.labels" (merge (dict "Labels" .Values.service.labels) .) | nindent 4 }}
  {{- with $annotations := include "authelia.annotations" (merge (dict "Annotations" .Values.service.annotations) .) }}
  annotations: {{ $annotations | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- with $ip := .Values.service.clusterIP }}
  clusterIP: {{ $ip }}
  {{- end }}
  {{- with $ips := .Values.service.externalIPs }}
  externalIPs:
  {{- range $ips }}
  - {{ . }}
  {{- end }}
  {{- end }}
  sessionAffinity: {{ default "None" .Values.service.sessionAffinity }}
  selector: {{- include "authelia.matchLabels" . | nindent 4 }}
  ports:
    - name: http
      protocol: TCP
      port: {{ include "authelia.service.port" . }}
      targetPort: http
      {{- if eq .Values.service.type "NodePort" }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
    {{- if and (semverCompare ">=4.36.0" (include "authelia.version" .)) .Values.configMap.telemetry.metrics.enabled }}
    - name: metrics
      protocol: TCP
      port: {{ .Values.configMap.telemetry.metrics.port | default 9959 }}
      targetPort: metrics
    {{- end }}